:root {
    --rounded: 20px;
}

body {
    min-width: 100vw;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif !important;
}

.background {
  /*  background-image: url("../images/kagg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    min-height: 100vh;
}
.card-header {
    text-decoration: underline;
    text-underline-offset: 4px;
    background: #FFFF;
    border: 0;
}
.card {
    width: 90vw;
    max-width: 800px;
    border-radius: var(--rounded);
    overflow: hidden;
}
#card-header-text {
    font-size: 2em;
    margin: 0;
    color: #022;
}

.info-text {
    width: 50vw;
    word-break: break-word;
}

.btn {
    border-radius: var(--rounded);
}